<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>


    <form method="post" enctype="multipart/form-data">
        <div class="col-12">
            <div class="row">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
        </div>
        <br>

        <div class="row">
            <div>
                <i class="waves-effect waves-light btn blue waves-input-wrapper">
                <input type="sumbit" class="btn btn-info" value = "process data" style="color:white">
                </i>
            </div>
        </div>
    
    </form>
</body>
</html>