{% extends 'base.html' %}
{% block body %}
        <form method="post" enctype="multipart/form-data">
            <div class="col-12">
                <div class="row">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
            </div>
            <br>

            <div class="row">
                <div>
                    <input type="sumbit" class="btn btn-info" value = "process data" style="color:white">
                </div>
            </div>
        
        </form>
{% endblock %}
